
.userList {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userDetails {
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.col {
    display: flex;
    gap: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    margin-left: 40vw;
}
