
.userList {
    margin-top: 80px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.userDetails {
    margin: 3px;
    padding: 1px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.col {
    display: flex;
    gap: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    margin-left: 40vw;
}
